body {
    display: flex; 
    flex-direction: column;
 
    align-items: center;
}
#clock {
   margin: 10px 20px;
}

button {
    width: 80px;
    height: 30px;
    margin-right: 5px;
}
#for_svg, #for_canvas {
    display: flex; 
 }